<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Almacen</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="/js/validaciones.js"></script>
    </head>
    <body>
        <main class="container mx-auto" >
            <div th:insert="~{/navbar :: navbar}"></div>
            
            <section class="min-h-screen " >
                
                <header class="bento-box py-4 " >
                    <h1>Formulario Almacen</h1>
                </header>
        
                <article class="bento-box p-4">
                    <form th:object="${almacen}" th:action="@{'/almacen/' + ${action} + '/' + ${almacen.id}} " class="" method="post" onsubmit="enviarFormulario(event);">
                        <fieldset class="general-form">
                            <legend>Formulario</legend>
                            <input  type="hidden" name="action" th:value="${action}">
                            <label for="id">
                                <span>Codigo:</span>
                                <input th:if="${id == null }" type="text" th:field="*{id}" maxlength="36" required>
                                <input th:unless="${id == null }" type="text" th:field="*{id}" readonly>
                            </label>
                            <label for="tipo">
                                <span>Tipo de Almacen:</span>
                                <select id="tipo" name="tipo" th:field="*{tipo}" required>
                                    <option value="" />
                                    <option value="B">Bodega</option>
                                    <option value="P">Puerto</option>
                                </select>
                            </label>
                            <label for="nombre">
                                <span class="text-span">Nombre:</span>
                                <input type="text" th:field="*{nombre}" maxlength="50" required>
                            </label>
                            <label for="descripcion">
                                <span>Descripcion:</span>
                                <input type="text" th:field="*{descripcion}" maxlength="50" >
                            </label>
                            <label for="dirrecion">
                                <span>Dirección:</span>
                                <input type="text" th:field="*{direccion}" maxlength="50" required>
                            </label>
                            <label for="estado">
                                <span>Estado:</span>
                                <select id="estado" name="estado" th:field="*{estado}" maxlength="50" required>
                                    <option value="A">Activo</option>
                                    <option value="I">Inactivo</option>
                                </select>
                            </label>
                            <button type="submit" class="btn-submit">
                                <p th:if="${action == 'add' }" >Añadir almacen</p>
                                <p th:unless="${action == 'add' }" >Actualizar almacen</p>
                            </button>
                        </fieldset>
                    </form>
                </article>

            </section>
        </main>

        <script>
            ini();

            function ini() {
                
            }

            function enviarFormulario(event) {
                event.preventDefault();
                const form = document.forms[0];

                if (validarFormulario(form)) {
                    form.submit();
                } else {
                    alert("Por favor, complete todos los campos correctamente.");
                }
            }

            function validarFormulario(form) {
                let validar = true;

                validar &= validarCamposRequeridos();

                return validar;
            }
        </script>

    </body>
</html>
