<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista de productos</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/validaciones.js"></script>
    </head>
    <body>
        <main class="container mx-auto" >
            <div th:insert="~{/navbar :: navbar}"></div>
            
            <section class="min-h-screen " >
                
                <header class="bento-box py-4 " >
                    <h1>Listado de Productos</h1>
                </header>
        
                <article class="bento-box px-4">
                    <table class=" tabla-listado-elements my-6" id="tableProducto">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tipo</th>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                                <th>Valor unitario</th>
                                <th>Estado</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="producto : ${productos}">
                                <td th:text="${producto.id}"></td>
                                <td th:text="${producto.tipo}"></td>
                                <td th:text="${producto.nombre}"></td>
                                <td th:text="${producto.cantidad}"></td>
                                <td th:text="${producto.valorUnitario}"></td>
                                <td th:text="${producto.estado}"></td>
                                <td><a class="btn-editar" th:href="@{/producto/upd/{id}(id=${producto.id})}">Editar</a></td>
                                <td><a class="btn-eliminar" th:onclick="'javascript:confirmarEliminacion(\'' + |@{/producto/eliminar/{id}(id=${producto.id})}| + '\')'" >Eliminar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </article>

                <aside class="panel">
                    <a type="button" class="btn-adicionar" th:href="@{/producto/add/{id}(id='0')}" > Añadir </a>
                </aside>
                <aside class="panel filtro">
                    <a type="button" class="btn-filtrar" id="btnFiltrar" onclick="abrirDialogFiltro()" > Filtrar </a>
                </aside>

            </section>

            <!-- Toast de notificacion -->
            <aside th:if="${notificacion != null }" id="toast" class="toast toast-notificacion">
                <header>Notificación</header>
                <section class="toast-body">
                    <span th:text="${notificacion}" ></span>
                </section>
            </aside>
            <aside th:if="${error != null }" id="toast" class="toast toast-error">
                <header>Error</header>
                <section class="toast-body">
                    <span th:text="${error}" ></span>
                </section>
            </aside>
            
        </main>
        
        <dialog id="dialogFilter">
            <form class="form-filtro" th:object="${productoFiltro}" th:action="@{'/producto'} " method="get">
                <fieldset class="general-form">
                    <legend class="legend-dialog">
                        Filtro
                        <button type="button" onclick="cerrarDialogFiltro()">X</button>
                    </legend>
                    <label for="id">
                        <span>Codigo:</span>
                        <input type="text" name="id" th:field="*{id}" maxlength="50">
                    </label>
                    <label for="tipo">
                        <span>Tipo de producto:</span>
                        <select id="tipo" name="tipo" th:field="*{tipo}" >
                            <option value="" />
                            <option value="M">Maritimo</option>
                            <option value="T">Terrestre</option>
                        </select>
                    </label>
                    <label for="nombre">
                        <span class="text-span">Nombre:</span>
                        <input type="text" name="nombre" th:field="*{nombre}" maxlength="50" >
                    </label>
                    <label for="estado">
                        <span>Estado:</span>
                        <select id="estado" name="estado" th:field="*{estado}" >
                            <option value="" />
                            <option value="A">Activo</option>
                            <option value="I">Inactivo</option>
                        </select>
                    </label>
                    <button type="submit" class="btn-submit">
                        <p>Filtrar Cliente</p>
                    </button>
                </fieldset>
            </form>
        </dialog>
    <script>
        ini();

        function ini() {
            const celdasDocumento = document.querySelectorAll("#tableProducto tbody tr td:nth-child(2)");
            const celdasEstado = document.querySelectorAll("#tableProducto tbody tr td:nth-child(6)");
            
            celdasDocumento.forEach(function(celda) {
                switch (celda.textContent) {
                    case "M":
                        celda.textContent = "Maritimo";
                        break;
                    case "T":
                        celda.textContent = "Terrestre";
                        break;
                    default:
                        celda.textContent = "Tipo no identificado";
                        break;
                }
            });
            celdasEstado.forEach(function(celda) {
                switch (celda.textContent) {
                    case "A":
                        celda.textContent = "Activo";
                        break;
                    case "I":
                        celda.textContent = "Inactivo";
                        break;
                    default:
                        celda.textContent = "Estado no identificado";
                        break;
                }
            });
        }
        
        function abrirDialogFiltro() {
            document.getElementById("dialogFilter").showModal();
        }
        function cerrarDialogFiltro() {
            document.getElementById("dialogFilter").close();
        }
    </script>
    </body>
</html>
