<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cliente</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="/js/validaciones.js"></script>
    </head>
    <body>
        <main class="container mx-auto" >
            <div th:insert="~{/navbar :: navbar}"></div>
            <aside th:insert="~{/fragments/backButton :: btnBack}" th:with="pagina='cliente'"></aside>
            
            <section class="min-h-screen " >
                
                <header class="bento-box py-4 " >
                    <h1>Formulario Cliente</h1>
                </header>
        
                <article class="bento-box p-4">
                    <form th:object="${cliente}" th:action="@{'/cliente/' + ${action} + '/' + ${cliente.id}} " class="" method="post" onsubmit="enviarFormulario(event);">
                        <fieldset class="general-form">
                            <legend>Formulario</legend>
                            <input  type="hidden" name="action" th:value="${action}">
                            <label for="id">
                                <span>Documento:</span>
                                <input th:if="${action == 'add' }" type="text" name="id" th:field="*{id}" maxlength="50" required>
                                <input th:unless="${action == 'add' }" type="text" name="id" th:field="*{id}" readonly>
                            </label>
                            <label for="tipoId">
                                <span>Tipo de documento:</span>
                                <select id="tipoId" name="tipoId" th:field="*{tipoId}" required>
                                    <option value="" />
                                    <option value="C">Cedula de ciudadania</option>
                                    <option value="N">NIT</option>
                                    <option value="E">Cedula de extranjeria</option>
                                </select>
                            </label>
                            <label for="nombre">
                                <span class="text-span">Nombre:</span>
                                <input type="text" name="nombre" th:field="*{nombre}" maxlength="50" required>
                            </label>
                            <label for="telefono">
                                <span>Telefono:</span>
                                <input type="text" name="telefono" th:field="*{telefono}" oninput="validarCampoNumerico(this)" maxlength="20" required>
                            </label>
                            <label for="email">
                                <span>Correo Electrónico:</span>
                                <input type="email" name="email" th:field="*{email}" maxlength="50" required>
                            </label>
                            <label for="direccion">
                                <span>Direccion:</span>
                                <input type="text" name="direccion" th:field="*{direccion}" maxlength="50" required>
                            </label>
                            <label for="estado">
                                <span>Estado:</span>
                                <select id="estado" name="estado" th:field="*{estado}" required>
                                    <option value="" />
                                    <option value="A">Activo</option>
                                    <option value="I">Inactivo</option>
                                    <option value="R">Retirado</option>
                                </select>
                            </label>
                            <button type="submit" class="btn-submit">
                                <p th:if="${action == 'add' }" >Añadir Cliente</p>
                                <p th:unless="${action == 'add' }" >Actualizar Cliente</p>
                            </button>
                        </fieldset>
                    </form>
                </article>

            </section>

            <!-- Toast de notificacion -->
            <aside th:if="${notificacion != null }" id="toast" class="toast toast-notificacion">
                <header>Notificación</header>
                <section class="toast-body">
                    <span th:text="${notificacion}" ></span>
                </section>
            </aside>
            <aside th:if="${error != null }" id="toast" class="toast toast-error">
                <header>Error</header>
                <section class="toast-body">
                    <span th:text="${error}" ></span>
                </section>
            </aside>

        </main>

        <script>
            ini();

            function ini() {
                
            }

            function enviarFormulario(event) {
                event.preventDefault();
                const form = document.forms[0];

                if (validarFormulario(form)) {
                    form.submit();
                } else {
                    alert("Por favor, complete todos los campos correctamente.");
                }
            }

            function validarFormulario(form) {
                let validar = true;

                validar &= validarCamposRequeridos();

                return validar;
            }
        </script>

    </body>
</html>
