<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista de Clientes</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/validaciones.js"></script>
    </head>
    <body>
        <main class="container mx-auto" >
            <div th:insert="~{/navbar :: navbar}"></div>
            
            <section class="min-h-screen " >
                
                <header class="bento-box py-4 " >
                    <h1>Listado de Clientes</h1>
                </header>
        
                <article class="bento-box px-4">
                    <table class=" tabla-listado-elements my-6" id="tableCliente">
                        <thead>
                            <tr>
                                <th>Documeto</th>
                                <th>Tipo Documento</th>
                                <th>Nombre</th>
                                <th>Telefono</th>
                                <th>Email</th>
                                <th>dirección</th>
                                <th>Estado</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="cliente : ${clientes}">
                                <td th:text="${cliente.id}"></td>
                                <td th:text="${cliente.tipoId}"></td>
                                <td th:text="${cliente.nombre}"></td>
                                <td th:text="${cliente.telefono}"></td>
                                <td th:text="${cliente.email}"></td>
                                <td th:text="${cliente.direccion}"></td>
                                <td th:text="${cliente.estado}"></td>
                                <td><a class="btn-editar" th:href="@{/cliente/upd/{id}(id=${cliente.id})}">Editar</a></td>
                                <td><a class="btn-eliminar" th:onclick="'javascript:confirmarEliminacion(\'' + |@{/cliente/eliminar/{id}(id=${cliente.id})}| + '\')'" >Eliminar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </article>

                <aside class="panel">
                    <a type="button" class="btn-adicionar" th:href="@{/cliente/add/{id}(id='0')}" > Añadir </a>
                </aside>

            </section>

            <!-- Toast de notificacion -->
            <aside th:if="${notificacion != null }" id="toast" class="toast toast-notificacion">
                <header>Notificación</header>
                <section class="toast-body">
                    <span th:text="${notificacion}" ></span>
                </section>
            </aside>
            <aside th:if="${error != null }" id="toast" class="toast toast-error">
                <header>Error</header>
                <section class="toast-body">
                    <span th:text="${error}" ></span>
                </section>
            </aside>

        </main>
    <script>
        ini();

        function ini() {
            const celdasDocumento = document.querySelectorAll("#tableCliente tbody tr td:nth-child(2)");
            const celdasEstado = document.querySelectorAll("#tableCliente tbody tr td:nth-child(7)");
            
            celdasDocumento.forEach(function(celda) {
                switch (celda.textContent) {
                    case "C":
                        celda.textContent = "Cedula de Ciudadania";
                        break;
                    case "N":
                        celda.textContent = "NIT";
                        break;
                    case "E":
                        celda.textContent = "Cedula de Extranjeria";
                        break;
                    default:
                        celda.textContent = "Documento no identificado";
                        break;
                }
            });
            celdasEstado.forEach(function(celda) {
                switch (celda.textContent) {
                    case "A":
                        celda.textContent = "Activo";
                        break;
                    case "I":
                        celda.textContent = "Inactivo";
                        break;
                    case "R":
                        celda.textContent = "Retirado";
                        break;
                    default:
                        celda.textContent = "Estado no identificado";
                        break;
                }
            });
        }
    </script>
    </body>
</html>
