<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista de Transportes</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <main class="container mx-auto" >
            <div th:insert="~{/navbar :: navbar}"></div>
            
            <section class="min-h-screen " >
                
                <header class="bento-box py-4 " >
                    <h1>Listado de Transportes</h1>
                </header>
        
                <article class="bento-box px-4">
                    <table class=" tabla-listado-elements my-6" id="tableTransporte">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tipo</th>
                                <th>Matricula</th>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Id Responsable</th>
                                <th>Nombre Responsable</th>
                                <th>Estado</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="transporte : ${transportes}">
                                <td th:text="${transporte.id}"></td>
                                <td th:text="${transporte.tipo}"></td>
                                <td th:text="${transporte.matricula}"></td>
                                <td th:text="${transporte.marca}"></td>
                                <td th:text="${transporte.modelo}"></td>
                                <td th:text="${transporte.idResponsable}"></td>
                                <td th:text="${transporte.nomResponsable}"></td>
                                <td th:text="${transporte.estado}"></td>
                                <td><a class="btn-editar" th:href="@{/transporte/upd/{id}(id=${transporte.id})}">Editar</a></td>
                                <td><a class="btn-eliminar" th:href="@{/transporte/eliminar/{id}(id=${transporte.id})}">Eliminar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </article>

                <aside class="panel">
                    <a type="button" class="btn-adicionar" th:href="@{/transporte/add/{id}(id='0')}" > Añadir </a>
                </aside>

            </section>
        </main>
    <script>
        ini();

        function ini() {
            const celdasDocumento = document.querySelectorAll("#tableTransporte tbody tr td:nth-child(2)");
            const celdasEstado = document.querySelectorAll("#tableTransporte tbody tr td:nth-child(8)");
            
            celdasDocumento.forEach(function(celda) {
                switch (celda.textContent) {
                    case "M":
                        celda.textContent = "Maritimo";
                        break;
                    case "T":
                        celda.textContent = "Terrestre";
                        break;
                    default:
                    celda.textContent = "Tipo no identificado";
                        break;
                }
            });
            celdasEstado.forEach(function(celda) {
                switch (celda.textContent) {
                    case "A":
                        celda.textContent = "Activo";
                        break;
                    case "I":
                        celda.textContent = "Inactivo";
                        break;
                    default:
                    celda.textContent = "Estado no identificado";
                        break;
                }
            });
        }
    </script>
    </body>
</html>
