<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista de entregas</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/validaciones.js"></script>
    </head>
    <body>
        <main class="container mx-auto" >
            <div th:insert="~{/navbar :: navbar}"></div>
            
            <section class="min-h-screen " >
                
                <header class="bento-box py-4 " >
                    <h1>Listado de entregas</h1>
                </header>
        
                <article class="bento-box px-4">
                    <table class=" tabla-listado-elements my-6" id="tableEntrega">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Cliente</th>
                                <th>Producto</th>
                                <th>Almacen</th>
                                <th>Transporte</th>
                                <th>Numero de guia</th>
                                <th>Fecha de registro</th>
                                <th>Fecha de entrega</th>
                                <th>Estado</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="entrega : ${entregas}" th:attr="data-id=${entrega.id}">
                                <td th:text="${entrega.id}"></td>
                                <td th:text="${entrega.cliente.id} + ' - ' + ${entrega.cliente.nombre}"></td>
                                <td th:text="${entrega.producto.nombre}"></td>
                                <td th:text="${entrega.almacen.nombre}"></td>
                                <td th:text="${entrega.transporte.matricula}"></td>
                                <td th:text="${entrega.numeroGuia}"></td>
                                <td th:text="${#temporals.format(entrega?.fecRegistro, 'yyyy-MM-dd')}" class="text-right"></td>
                                <td th:text="${#temporals.format(entrega?.fecEntrega, 'yyyy-MM-dd')}" class="text-right"></td>
                                <td th:text="${entrega.estado}"></td>
                                <td><a class="btn-editar" th:href="@{/entrega/upd/{id}(id=${entrega.id})}">Editar</a></td>
                                <td><a class="btn-eliminar" th:onclick="'javascript:confirmarEliminacion(\'' + |@{/entrega/eliminar/{id}(id=${entrega.id})}| + '\')'" >Eliminar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </article>

                <aside class="panel">
                    <a type="button" class="btn-adicionar" th:href="@{/entrega/add/{id}(id='0')}" > Añadir </a>
                </aside>
                <aside class="panel filtro">
                    <a type="button" class="btn-filtrar" id="btnFiltrar" onclick="abrirDialogFiltro()" > Filtrar </a>
                </aside>

            </section>

            <!-- Toast de notificacion -->
            <aside th:if="${notificacion != null }" id="toast" class="toast toast-notificacion">
                <header>Notificación</header>
                <section class="toast-body">
                    <span th:text="${notificacion}" ></span>
                </section>
            </aside>
            <aside th:if="${error != null }" id="toast" class="toast toast-error">
                <header>Error</header>
                <section class="toast-body">
                    <span th:text="${error}" ></span>
                </section>
            </aside>

            <div th:insert="~{/footer :: footer}"></div>
            
        </main>
        
        <dialog id="dialogFilter">
            <form class="form-filtro" th:object="${entregaFiltro}" th:action="@{'/entrega'} " method="get">
                <fieldset class="general-form">
                    <legend class="legend-dialog">
                        Filtro
                        <button type="button" onclick="cerrarDialogFiltro()">X</button>
                    </legend>
                    <label for="id">
                        <span>Codigo:</span>
                        <input type="text" name="id" th:field="*{id}" maxlength="50">
                    </label>
                    <label for="tipo">
                        <span>Tipo:</span>
                        <select id="tipo" name="tipo" th:field="*{tipo}" >
                            <option value="" />
                            <option value="M">Maritimo</option>
                            <option value="T">Terrestre</option>
                        </select>
                    </label>
                    <label for="cliente">
                        <span>Cliente:</span>
                        <input type="text" name="cliente" th:field="*{cliente.id}" maxlength="50">
                        <!-- <select id="cliente" name="cliente" th:field="*{cliente}" required>
                            <option value=""/>
                            <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nombre}"></option>
                        </select> -->
                    </label>
                    <label for="producto">
                        <span class="text-span">Producto:</span>
                        <input type="text" name="producto" th:field="*{producto.id}" maxlength="50">
                        <!-- <select id="producto" name="producto" th:field="*{producto}" onchange="productoChanges(this, true)" >
                            <option value=""/>
                            <option th:each="producto : ${productos}" th:tipo="${producto.tipo}" th:cantidadtotal="${producto.cantidad}" th:valorunitario="${producto.valorUnitario}" th:value="${producto.id}" th:text="${producto.nombre}"></option>
                        </select> -->
                    </label>
                    <label for="almacen">
                        <span class="text-span">Almacen:</span>
                        <input type="text" name="almacen" th:field="*{almacen.id}" maxlength="50">
                        <!-- <select id="almacen" name="almacen" th:field="*{almacen}" >
                            <option value=""/>
                            <option th:each="almacen : ${almacenes}" th:tipo="${almacen.tipo}" th:value="${almacen.id}" th:text="${almacen.nombre}"></option>
                        </select> -->
                    </label>
                    <label for="transporte">
                        <span class="text-span">Transporte:</span>
                        <input type="text" name="transporte" th:field="*{transporte.id}" maxlength="50">
                        <!-- <select id="transporte" name="transporte" th:field="*{transporte}" >
                            <option value=""/>
                            <option th:each="transporte : ${transportes}" th:tipo="${transporte.tipo}" th:value="${transporte.id}" th:text="${transporte.matricula}"></option>
                        </select> -->
                    </label>
                    <label for="numeroGuia">
                        <span>Numero Guia:</span>
                        <input type="text" name="numeroGuia" th:field="*{numeroGuia}" maxlength="10" >
                    </label>
                    <label for="estado">
                        <span>Estado:</span>
                        <select id="estado" name="estado" th:field="*{estado}" >
                            <option value="" />
                            <option value="A">Activo</option>
                            <option value="I">Inactivo</option>
                        </select>
                    </label>
                    <button type="submit" class="btn-submit">
                        <p>Filtrar Entregas</p>
                    </button>
                </fieldset>
            </form>
        </dialog>
    <script>
        ini();

        function ini() {
            const celdasEstado = document.querySelectorAll("#tableEntrega tbody tr td:nth-child(9)");
            
            celdasEstado.forEach(function(celda) {
                switch (celda.textContent) {
                    case "A":
                        celda.textContent = "Activo";
                        break;
                    case "I":
                        celda.textContent = "Inactivo";
                        break;
                    default:
                        celda.textContent = "Estado no identificado";
                        break;
                }
            });
        }
        
        function abrirDialogFiltro() {
            document.getElementById("dialogFilter").showModal();
        }
        function cerrarDialogFiltro() {
            document.getElementById("dialogFilter").close();
        }
        
    </script>
    </body>
</html>
