<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista de entregas</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/validaciones.js"></script>
    </head>
    <body>
        <main class="container mx-auto" >
            <div th:insert="~{/navbar :: navbar}"></div>
            
            <section class="min-h-screen " >
                
                <header class="bento-box py-4 " >
                    <h1>Listado de entregas</h1>
                </header>
        
                <article class="bento-box px-4">
                    <table class=" tabla-listado-elements my-6" id="tableEntrega">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Cliente</th>
                                <th>producto</th>
                                <th>Almacen</th>
                                <th>Transporte</th>
                                <th>Numero de guia</th>
                                <th>Fecha de registro</th>
                                <th>Fecha de entrega</th>
                                <th>Estado</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="entrega : ${entregas}">
                                <td th:text="${entrega.id}"></td>
                                <td th:text="${entrega.cliente.id} + ' - ' + ${entrega.cliente.nombre}"></td>
                                <td th:text="${entrega.producto.nombre}"></td>
                                <td th:text="${entrega.almacen.nombre}"></td>
                                <td th:text="${entrega.transporte.matricula}"></td>
                                <td th:text="${entrega.numeroGuia}"></td>
                                <td th:text="${#temporals.format(entrega?.fecRegistro, 'yyyy-MM-dd')}"></td>
                                <td th:text="${#temporals.format(entrega?.fecEntrega, 'yyyy-MM-dd')}"></td>
                                <td th:text="${entrega.estado}"></td>
                                <td><a class="btn-editar" th:href="@{/entrega/upd/{id}(id=${entrega.id})}">Editar</a></td>
                                <td><a class="btn-eliminar" th:onclick="'javascript:confirmarEliminacion(\'' + |@{/entrega/eliminar/{id}(id=${entrega.id})}| + '\')'" >Eliminar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </article>

                <aside class="panel">
                    <a type="button" class="btn-adicionar" th:href="@{/entrega/add/{id}(id='0')}" > Añadir </a>
                </aside>

            </section>

            <!-- Toast de notificacion -->
            <aside th:if="${notificacion != null }" id="toast" class="toast toast-notificacion">
                <header>Notificación</header>
                <section class="toast-body">
                    <span th:text="${notificacion}" ></span>
                </section>
            </aside>
            <aside th:if="${error != null }" id="toast" class="toast toast-error">
                <header>Error</header>
                <section class="toast-body">
                    <span th:text="${error}" ></span>
                </section>
            </aside>
            
        </main>
    <script>
        ini();

        function ini() {
            const celdasEstado = document.querySelectorAll("#tableEntrega tbody tr td:nth-child(9)");
            
            celdasEstado.forEach(function(celda) {
                switch (celda.textContent) {
                    case "A":
                        celda.textContent = "Activo";
                        break;
                    case "I":
                        celda.textContent = "Inactivo";
                        break;
                    default:
                        celda.textContent = "Estado no identificado";
                        break;
                }
            });
        }
    </script>
    </body>
</html>
