<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Empresa gestion de logistica</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="/css/styles.css" >
    </head>
    <body>
        <main class="container mx-auto" >
            <!-- Menu de navegacion -->
            <nav class="container mx-auto flex justify-between items-center p-4">
                <a class="text-white font-bold" href="/">Mi Aplicación</a>
            </nav>
            <section class="min-h-screen " >
                <header class="py-4 " >
                    <h1 class="text-center" >Error al buscar recursos</h1>
                </header>
            </section>
        </main>
    </body>
</html>