<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Empresa gestion de logistica</title>
        <meta name="description" content="Prueba tecnica de Java para Ingeneo">
        <meta name="author" content="Pedro Steven Castiblanco">
        <meta name="keywords" content="HTML, CSS, JavaScript, Java, Spring boot">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="/css/styles.css" >
    </head>
    <body>
        <main class="container mx-auto" >
            <!-- Menu de navegacion -->
            <nav class="container mx-auto flex justify-between items-center p-4">
                <a class="text-white font-bold" href="/">Mi Aplicación</a>
                <menu type="toolbar">
                    <li class="hidden md:flex space-x-4">
                        <a class="text-white hover:text-gray-300" href="/cliente">Lista de Clientes</a>
                    </li>
                </menu>
            </nav>
            <section class="min-h-screen " >
                <header class="py-4 " >
                    <h1 class="text-center" >Prueba Tecnica Ingeneo</h1>
                </header>

                <article class="px-4">
                    <header><h2>Entregables esperados</h2></header>
                    <ul>
                        <li>Diagrama E-R del modelo de datos, deberá diagramarse con alguna herramienta a elección del candidato</li>
                        <li>Script de base de datos de la solución</li>
                        <li>URL del repositorio GIT</li>
                        <li>Artefactos de despliegue de la solución</li>
                        <li>Definición de buenas prácticas</li>
                        <li>Justificación de las tecnologías empleadas y patrones de diseño empleados</li>
                    </ul>
                </article>
                
            </section>
        </main>
    </body>
</html>