<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Empresa gestion de logistica</title>
        <meta name="description" content="Prueba tecnica de Java para Ingeneo">
        <meta name="author" content="Pedro Steven Castiblanco">
        <meta name="keywords" content="HTML, CSS, JavaScript, Java, Spring boot">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="/css/styles.css" >
    </head>
    <body>
        <main class="container mx-auto" >
            <div th:insert="~{/navbar :: navbar}"></div>
            
            <section class="min-h-screen " >
                <header class="bento-box py-4 " >
                    <h1 class="" >Prueba Tecnica Ingeneo</h1>
                </header>

                <article class="bento-box px-4">
                    <header>
                        <h2>Entregables esperados</h2>
                    </header>
                    <ul class="list-disc mx-6">
                        <li>Diagrama E-R del modelo de datos, deberá diagramarse con alguna herramienta a elección del candidato</li>
                        <li>Script de base de datos de la solución</li>
                        <li>URL del repositorio GIT</li>
                        <li>Artefactos de despliegue de la solución</li>
                        <li>Definición de buenas prácticas</li>
                        <li>Justificación de las tecnologías empleadas y patrones de diseño empleados</li>
                    </ul>
                </article>
                
            </section>

            <div th:insert="~{/footer :: footer}"></div>
        </main>
    </body>
</html>